.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureTitle {
  color: var(--ifm-heading-color);
}

.featureDescription {
  color: var(--ifm-font-color-base);
  opacity: 0.85;
}
