/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0690e1;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

	--custom-light-blue: #2cabe1;
	--custom-light-blue-hover: #00b3ff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4a99ff;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


.row {
	justify-content: center;
}

.button--light-blue {
	background-color: var(--custom-light-blue);
}

.button--light-blue:hover {
	background-color: var(--custom-light-blue-hover);
}

.hero__subtitle {
	color: #8d949e
}

.hero__title {
	color: #444950
}

.mg5 {
	margin: 5px;
}

.inline-schema>p:first-child {
  float: left;
  margin: 1.5rem;
  max-width: 100%;
}

.inline-schema>blockquote {
  display: inline-block;
}

.inline-schema img {
  width: auto!important;
  margin: 0;
}
